
card_test/.idea/workspace.xml
card_test/.idea/misc.xml

openCV_version/.idea/workspace.xml
openCV_version/.idea/misc.xml
card_test/.idea/workspace.xml
android_application/app/.idea/caches/gradle_models.ser
android_application/app/.idea/misc.xml
android_application/app/.idea/workspace.xml
android_application/app/local.properties
android_application/app/.idea/workspace.xml
android_application/.idea/workspace.xml___jb_tmp___
card_test/.vs/card_test/v16/.suo
card_test/.vs/slnx.sqlite
card_test/.vs/VSWorkspaceState.json
android_application/.idea/workspace.xml
android_application/app/.idea/workspace.xml
android_application/android_application_for_P3/.idea/workspace.xml___jb_tmp___
openCV_version/.idea/workspace.xml
openCV_version/.idea/workspace.xml
